@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row mt-5">
    <div class="col-sm-12">
        <div calss="card bg-light border-dark" style="border:solid;border-color:#0A0708;box-shadow:5px 5px #444444">
            <div class="card-body">
                <h1 class="card-title">
                    404
                </h1>
                <h6 class="card-subtitle mb-2 text-muted">Page Not Found</h6>
                <br />
                <a class="btn btn-dark" href="/Home">Return To Home</a>
            </div>
        </div>
    </div>
</div>
